#filter-button:focus, #filter-button:active, #filter-button:hover,
#sort-button:focus, #sort-button:active, #sort-button:hover {
    background-color: #F9F9FE;
    color: #0C1527;
    box-shadow: none;
}

#filter-button[aria-expanded="true"],
#sort-button[aria-expanded="true"] {
    background-color: #F9F9FE;
    color: #0C1527;
    box-shadow: none;
}