.accordion-content {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;

}
.accordion-content.open {
    /* To allow the accordion to show elements of any size, 
    we need to hard code a value for max height when it's open 
    If we end up having content in an accordion 
    that's larger than this set value, we'll need to makes some tweaks. 
    
    This was all done to avoid like 50 lines of javascript. */
    max-height: 500px;
    overflow-y:auto;
}

.accordion:after {
    content: '\002B';
    color: #F9F9FE;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    vertical-align: middle;
  }
  
.accordion.open:after {
    content: "\2212";
}

